@model SampleProject.Models.Product

@*<option value="">---Ürün Seçin---</option>

    @if (ViewBag.productList != null)
        {
            foreach (var item in ViewBag.productList)
                {
                    <option value="@item.Value">@item.Text</option>
                }


        }*@



@if (ViewBag.productList != null)
{

    foreach (var x in ViewBag.productList)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>

            <td>@x.Price</td>
            <td><img src="~/ProductImageFiles/@x.Image" width="65" height="110" alt="" /></td>
            @*<td>@x.SubCategory.Name</td>
                <td>@x.SubCategory.Category.Name</td>*@
            <td>@Html.ActionLink("Sil", "DeleteProduct", new { x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize eminmisiniz?.')" })</td>
            <td><a href="/Admin/UpdateProduct/@x.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Admin/ProductDetail/@x.Id" class="btn btn-primary">Ürün Detay</a></td>

        </tr>

    }

}




<br />
