@model IPagedList<SampleProject.Models.Product>
@using  X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        @*<th>AÇIKLAMA</th>*@
        <th>FİYAT</th>
        <th>RESİM</th>
        <th>ALTKATEGORİ</th>
        <th>KATEGORİ</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>
            @*<td>@x.Description</td>*@
            <td>@x.Price</td>
            <td><img src="~/ProductImageFiles/@x.Image" width="65" height="110" alt="" /></td>
            <td>@x.SubCategory.Name</td>
            <td>@x.SubCategory.Category.Name</td>
            <td>@Html.ActionLink("Sil", "DeleteProduct", new { x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize eminmisiniz?.')" })</td>
            <td><a href="/Admin/UpdateProduct/@x.Id" class="btn btn-success">Güncelle</a></td>


        </tr>

    }

</table>

<br />

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }))

<a href="/Admin/AddProduct/" class="btn btn-primary">Yeni Ürün Ekle</a>





